{
  "extends": ["google", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },

  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off",
    "max-len": "off",
    "padded-blocks": "off",
    "no-console": "off",
    "space-unary-ops": "off",
    "eol-last": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "linebreak-style": "off",
    "one-var": "off",
    "no-inline-comments": "off",
    "one-var-declaration-per-line": "off",
    "strict": "off",
    "spaced-comment": "off"
  }
}
